.nav {
  grid-area: n;
  background-color: blueviolet;
  padding: 50px 0 0 50px;
}

.item {
  color: wheat;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 10px;
}

.item.active {
color: gold;
} 